

services:

  product.api:
    container_name: product.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
#      - ASPNETCORE_HTTP_PORTS=8080
#      - ASPNETCORE_URLS=http://*:8003
      - "DatabaseSettings__ConnectionString=Server=productdb;Port=5432;Database=ProductDb;User Id=admin;Password=admin1234;"  
    depends_on:
      - productdb
    ports:
      - "8007:8080"
  cart.api:
    container_name: cart.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
#      - ASPNETCORE_HTTP_PORTS=8080
      - "ConnectionStrings__DatabaseConnectionString=Server=cartdb;Database=CartDb;User Id=sa;Password=1qaz2wsx;TrustServerCertificate=True;"
#      - ASPNETCORE_URLS=http://*:8003
      - "GrpcSettings__ProductUrl=http://product.api"
    depends_on:
      - cartdb
    ports:
      - "8008:8080"
  cartdb:
    container_name: cartdb
    environment:
      SA_PASSWORD: "1qaz2wsx"
      ACCEPT_EULA: "Y"
    restart: always
    ports: 
      - "1733:1733"

  productdb:
    container_name: productdb
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin1234
      - POSTGRES_DB=ProductDb
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  pgdbadmin:
    container_name: pgdbadmin
    environment: 
      - PGADMIN_DEFAULT_EMAIL=admin@eCommerce.net
      - PGADMIN_DEFAULT_PASSWORD=admin1234
    restart: always
    ports:
      - "5051:80"
    volumes:
      - pgadmin_data:/root/.pgadmin

  
    
  